<style>
  :host {
    overflow: hidden;
    flex-basis: 0;
    flex-grow: 1;
  }

  .main-content {
    height: 100%;
  }

  .main-content {
    padding: 0 1rem;
  }

  .title {
    font-size: 2rem;
    font-weight: lighter;
    margin: 0;
    color: #cccccc;
    width: 75vw;
    cursor: pointer;
    transition: color 200ms linear;
  }

  @media screen and (min-width: 992px) {
    .title {
      width: auto;
      padding-right: 2rem;
    }
  }

  .description {
    visibility: hidden;
    color: #333333;
    margin-top: 5px;
  }

  .title.active {
    color: #333333;
  }

  .title.active + .description {
    visibility: visible;
  }

  .content:not(.active) {
    display: none;
  }
</style>

<main class="main-content">
  <cart-flow>
    <div slot="flow-tab-header">
      <h1 class="title active" data-content="pick-a-cart" data-index="1">Welcome back!</h1>
      <p class="description">Pick a cart to proceed</p>
    </div>
    <div slot="flow-tab-header">
      <h1 class="title" data-content="add-to-cart" data-index="2">Add to cart</h1>
      <p class="description">Add items to cart</p>
    </div>
    <div slot="flow-tab-header">
      <h1 class="title" data-content="summary" data-index="3">Summary</h1>
      <p class="description">Proceed to pay</p>
    </div>

    <div class="content pick-a-cart active">
      <pick-cart-flow></pick-cart-flow>
    </div>
    <div class="content add-to-cart">
      <products-flow></products-flow>
    </div>
    <div class="content summary">
      <i>Summary for checkout</i>
    </div>
  </cart-flow>
</main>
